**/venv/

**/__pycache__/

**/.env

**/node_modules/

*.png
!assets/*.png
!assets/**/*.png
*.jpg
!assets/*.jpg
!assets/**/*.jpg
.vscode/

*.faiss
*.pkl

# Database
db.sqlite3
*.sqlite3

# Media/Uploads
media/
backend/media/